/* Varela & Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v10/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
/* Roboto & Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body * {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Varela Round', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
  color: #0F5080;
}
h1 {
  font-size: 2.32rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.4rem;
  }
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}
h4 {
  font-size: 1.52rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.8rem;
  }
}
p {
  font-size: 1.3rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
}
ul,
ol {
  margin: 0 2rem;
}
ul li,
ol li {
  font-size: 1.32rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  ul li,
  ol li {
    font-size: 1.6rem;
  }
}
ul {
  list-style-type: initial;
}
ol {
  list-style-type: decimal;
}
a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #4195D2;
}
@media (min-width: 768px) {
  a {
    font-size: 1.6rem;
  }
}
a:hover {
  text-decoration: underline;
}
button {
  color: #FFFFFF;
  background: #1363A8;
  border: 1px solid #1363A8;
  width: 100px;
  height: auto;
  font-size: 1rem;
  padding: 5px 5px;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: normal;
  letter-spacing: 0.13rem;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
button:hover {
  background: #187ed6;
}
@media (min-width: 768px) {
  button {
    width: 100px;
    height: auto;
    font-size: 1.2rem;
  }
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 991px;
  }
}
.btn-cta {
  color: #FFFFFF;
  background: #FF7F50;
  border: 1px solid #FF7F50;
}
.btn-cta:hover {
  background: #ffa483;
}
.site-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #FFFFFF;
  background: #1363A8;
  padding: 0;
  z-index: 2;
}
@media (min-width: 768px) {
  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
}
.site-header .logo {
  width: 100%;
  text-align: center;
}
.site-header .logo a {
  text-decoration: none;
  font-size: 4rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .site-header .logo a {
    width: initial;
    text-align: initial;
    font-size: 4.2rem;
  }
}
.site-header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .site-header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 10px;
  }
}
.site-header nav a {
  width: 100%;
  margin: 0 2.78vw;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  letter-spacing: 0.15rem;
  color: #FFFFFF;
  white-space: nowrap;
  border-bottom: 1px solid #0F5080;
}
@media (min-width: 768px) {
  .site-header nav a {
    width: auto;
    margin: 0 1.39vw;
    border-bottom: initial;
  }
}
.site-header nav a:hover {
  color: #1363A8;
  background: #FFFFFF;
}
@media (min-width: 768px) {
  .site-header nav a:hover {
    text-decoration: underline;
  }
}
.site-header nav a:first-child {
  border-top: 1px solid #0F5080;
}
.site-header nav a:last-child {
  color: #1363A8;
  background: #FFFFFF;
  border-radius: 3px;
  margin-bottom: 0;
}
.site-header nav a:last-child:hover {
  color: #FFFFFF;
  background: #1363A8;
}
nav {
  padding: 10px 0;
  padding-bottom: 0;
  background: #1363A8;
}
nav .nav-link {
  margin: 0 2.78vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  letter-spacing: 0.12rem;
  color: #FFFFFF;
  white-space: nowrap;
}
@media (min-width: 768px) {
  nav .nav-link {
    margin: 0 1.39vw;
  }
}
nav .nav-link:hover {
  text-decoration: underline;
}
/*******DEMO VERSION*****/
.demo {
  max-width: 500px;
}
@media (min-width: 768px) {
  .demo {
    max-width: 800px;
  }
}
.demo2 {
  max-width: 500px;
  background: #D1DAE5;
}
@media (min-width: 768px) {
  .demo2 {
    max-width: 800px;
  }
}
.demo2 .logo a {
  color: #03100D;
}
.demo2 nav {
  background: #D1DAE5;
}
.demo2 nav a {
  color: #03100D;
}
.demo2 nav a:last-child {
  color: #FFFFFF;
  background: #FF7F50;
  border-radius: 3px;
}
.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: #FFFFFF;
  background: #1363A8;
}
.site-footer .logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
.site-footer .logo-wrapper .logo a {
  text-decoration: none;
  font-size: 2.4rem;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .site-footer .logo-wrapper .logo a {
    font-size: 2rem;
  }
}
.site-footer .logo-wrapper .copyright {
  font-size: 1.3rem;
}
.site-footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  margin: 20px 0;
}
@media (max-width: 500px) {
  .site-footer nav {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }
}
.site-footer nav a {
  margin: 0 1.39vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  color: #FFFFFF;
  white-space: nowrap;
}
.site-footer nav a:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .site-footer nav a {
    width: 95%;
    padding: 20px 0;
    margin: 0 2.78vw;
    text-align: center;
  }
}
.demo {
  width: 800px;
}
.headline {
  max-width: 991px;
  margin: 20px auto;
  text-align: center;
}
.style-guide {
  max-width: 991px;
  background: #D1DAE5;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  margin: 0 auto;
}
.style-guide .style-guide-info {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  padding: 10px;
}
.style-guide .style-guide-info section {
  width: 95%;
  margin: 10px auto;
  padding: 15px;
  background: #FFFFFF;
  display: grid;
}
.style-guide .style-guide-info section .item {
  margin-top: 20px;
}
.style-guide .style-guide-info section .item .description {
  font-size: 1rem;
  margin: 10px auto;
}
.style-guide .style-guide-info section .item .sample {
  font-size: 1rem;
  margin: 10px auto;
}
.style-guide .style-guide-info .style-guide-menu {
  flex: 0 0 15%;
  margin: 10px 0;
}
.style-guide .style-guide-info .style-guide-menu nav {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  background: #FFFFFF;
  padding: 10px;
}
.style-guide .style-guide-info .style-guide-menu nav a {
  width: 100%;
  padding: 20px 0;
  color: #0F5080;
  text-decoration: none;
  font-size: 1.5rem;
  border-bottom: 1px solid #D1DAE5;
}
.style-guide .style-guide-info .style-guide-menu nav a:visited {
  color: #0F5080;
}
.style-guide .style-guide-info .style-guide-content {
  flex: 0 0 78%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
.style-guide .style-guide-info #typography .sample {
  width: 80%;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #D1DAE5;
}
.style-guide .style-guide-info #color-palette .sample {
  width: 80%;
  padding: 20px;
  border: 1px solid #D1DAE5;
}
.style-guide .style-guide-info #page-elements .link-wrapper {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  padding: 10px 0;
  border: 1px solid #0F5080;
}
.style-guide .style-guide-info #page-elements nav {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
}
.style-guide .style-guide-info #sitewide-components .item {
  overflow-x: scroll;
}
