@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
/* Varela & Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v10/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
/* Roboto & Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body * {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
}
body {
  background: #F5F8FA;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Varela Round', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
  color: #0F5080;
}
h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.4rem;
  }
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}
h4 {
  font-size: 1.52rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.8rem;
  }
}
p {
  font-size: 1.3rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
}
ul,
ol {
  margin: 0 2rem;
}
ul li,
ol li {
  font-size: 1.32rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  ul li,
  ol li {
    font-size: 1.6rem;
  }
}
ul {
  list-style-type: initial;
}
ol {
  list-style-type: decimal;
}
a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #4195D2;
}
@media (min-width: 768px) {
  a {
    font-size: 1.6rem;
  }
}
a:hover {
  text-decoration: underline;
}
button {
  color: #FFFFFF;
  background: #1363A8;
  border: 1px solid #1363A8;
  width: 100px;
  height: auto;
  font-size: 1rem;
  padding: 5px 5px;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: normal;
  letter-spacing: 0.13rem;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
button:hover {
  background: #187ed6;
}
@media (min-width: 768px) {
  button {
    width: 100px;
    height: auto;
    font-size: 1.2rem;
  }
}
img {
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
}
.btn-cta {
  color: #FFFFFF;
  background: #FF7F50;
  border: 1px solid #FF7F50;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-transform: normal;
  letter-spacing: 0.13rem;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
.btn-cta:hover {
  background: #ffa483;
}
.site-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  padding: 0 5%;
  color: #FFFFFF;
  background: #1363A8;
  top: 0;
  position: fixed;
  z-index: 2;
}
@media (min-width: 768px) {
  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.site-header .logo {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .site-header .logo {
    width: auto;
  }
}
.site-header .logo a {
  text-decoration: none;
  font-size: 2.8rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .site-header .logo a {
    font-size: 4rem;
  }
}
.site-header .mainNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (min-width: 768px) {
  .site-header .mainNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 10px;
  }
}
.site-header .mainNav a {
  width: 100%;
  margin: 0 2.78vw;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  letter-spacing: 0.15rem;
  color: #FFFFFF;
  white-space: nowrap;
  border-bottom: 1px solid #0F5080;
}
@media (min-width: 768px) {
  .site-header .mainNav a {
    width: auto;
    margin: 0 1.39vw;
    border-bottom: initial;
  }
}
@media phone {
  .site-header .mainNav a:hover {
    color: #1363A8;
    background: #FFFFFF;
  }
}
@media (min-width: 768px) {
  .site-header .mainNav a:hover {
    text-decoration: underline;
  }
}
.site-header .mainNav a:first-child {
  border-top: 1px solid #0F5080;
}
@media (min-width: 768px) {
  .site-header .mainNav a:first-child {
    border: none;
  }
}
.site-header .mainNav a:last-child {
  color: #FFFFFF;
  background: #FF7F50;
  border-radius: 3px;
  margin-bottom: 0;
}
@media phone {
  .site-header .mainNav a:last-child:hover {
    color: #1363A8;
    background: #FFFFFF;
  }
}
.site-header #openMenu {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .site-header #openMenu {
    display: none;
  }
}
.site-header #closeMenu {
  font-size: 2.5rem;
  display: none;
}
nav {
  padding: 10px 0;
  padding-bottom: 0;
  background: #1363A8;
}
nav .nav-link {
  margin: 0 2.78vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  letter-spacing: 0.12rem;
  color: #FFFFFF;
  white-space: nowrap;
}
@media (min-width: 768px) {
  nav .nav-link {
    margin: 0 1.39vw;
  }
}
nav .nav-link:hover {
  text-decoration: underline;
}
/*******DEMO VERSION*****/
.demo {
  max-width: 500px;
}
@media (min-width: 768px) {
  .demo {
    max-width: 800px;
  }
}
.demo2 {
  max-width: 500px;
  background: #F5F8FA;
}
@media (min-width: 768px) {
  .demo2 {
    max-width: 800px;
  }
}
.demo2 .logo a {
  color: #03100D;
}
.demo2 nav {
  background: #F5F8FA;
}
.demo2 nav a {
  color: #03100D;
}
.demo2 nav a:last-child {
  color: #FFFFFF;
  background: #FF7F50;
  border-radius: 3px;
}
.site-footer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
  background: #1363A8;
}
@media (min-width: 768px) {
  .site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
  }
}
.site-footer .logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.site-footer .logo-wrapper * {
  margin: 5px auto;
}
.site-footer .logo-wrapper .logo a {
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .site-footer .logo-wrapper .logo a {
    font-size: 2.4rem;
  }
}
.site-footer .logo-wrapper .copyright {
  font-size: 1.3rem;
}
.site-footer nav {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
}
.site-footer nav a {
  width: 95%;
  margin: 10px 2.78vw;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  color: #FFFFFF;
  white-space: nowrap;
}
.site-footer nav a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .site-footer nav a {
    margin: 0 1.39vw;
  }
}
.demo {
  width: 800px;
}
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 150px;
}
@media (min-width: 768px) {
  .home-page {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}
.home-page .intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding: 75px 0;
  background-image: url(/img/bannerdark.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .home-page .intro {
    padding-top: 150px;
    padding-bottom: 250px;
  }
}
.home-page .intro .headline,
.home-page .intro .tagline {
  width: 90%;
  margin: 10px 0;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .home-page .intro .headline {
    font-size: 6.4rem;
  }
}
@media (min-width: 768px) {
  .home-page .intro .tagline {
    font-size: 2rem;
  }
}
.home-page .intro button {
  width: 35%;
  max-width: 200px;
  font-size: 1.5rem;
  color: #1363A8;
  background: #FFFFFF;
}
@media (min-width: 768px) {
  .home-page .intro button {
    align-self: flex-start;
    margin: 20px 5%;
    font-size: 2.5rem;
  }
}
.home-page .features-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .home-page .features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    margin: 30px 0;
  }
}
.home-page .features-list * {
  margin: 5px 0;
}
.home-page .features-list .feature {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding: 20px;
  font-size: 1rem;
  background: #FFFFFF;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
@media (min-width: 768px) {
  .home-page .features-list .feature {
    width: 29%;
  }
}
.home-page .features-list .feature * {
  margin: 5px 0;
}
.home-page .features-list .feature .feature-img-wrapper {
  width: 40%;
  height: 150px;
}
.home-page .features-list .feature .feature-img-wrapper .feature-img {
  max-width: 100%;
}
.home-page .features-list .feature button {
  width: 120px;
  margin: 20px 0;
  font-size: 1.25rem;
}
.home-page .features-list .feature button a {
  text-decoration: none;
  color: #FFFFFF;
}
.home-page .testimonials {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
@media (min-width: 768px) {
  .home-page .testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
  }
}
.home-page .testimonials * {
  margin: 5px 0;
}
@media (min-width: 768px) {
  .home-page .testimonials .img-content-wrapper,
  .home-page .testimonials .text-content {
    width: 48%;
  }
}
.home-page .testimonials .img-content-wrapper {
  width: 100%;
}
@media (min-width: 768px) {
  .home-page .testimonials .img-content-wrapper {
    width: 40%;
  }
}
.home-page .testimonials .img-content-wrapper img {
  border-radius: 10px;
}
.home-page .testimonials blockquote {
  font-size: 5rem;
}
.home-page .testimonials blockquote:before,
.home-page .testimonials blockquote:after {
  content: '\201C';
  font-family: 'Sanchez';
  color: #8c8c8c;
}
.home-page .testimonials blockquote:after {
  content: '\201D';
}
.home-page .inverse-content {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .home-page .inverse-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
.about-page {
  margin-top: 60px;
  margin-bottom: 150px;
}
@media (min-width: 768px) {
  .about-page {
    margin-top: 80px;
  }
}
.about-page .about-intro {
  width: 90%;
  margin: 20px auto;
}
.about-page .about-intro .about-headline {
  margin: 10px auto;
  text-align: center;
  font-size: 2.8rem;
}
@media (min-width: 768px) {
  .about-page .about-intro .about-headline {
    text-align: left;
    font-size: 3.2rem;
  }
}
.about-page .team {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.about-page .team * {
  margin: 2.5px 0;
}
@media (min-width: 768px) {
  .about-page .team {
    border-top: 1px solid #0F5080;
  }
}
@media (min-width: 768px) {
  .about-page .team .team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
.about-page .team .team-list .team-member {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  margin: 10px 0;
  background: #FFFFFF;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
.about-page .team .team-list .team-member .team-member-img-wrapper {
  width: 30%;
}
.about-page .team .team-list .team-member .team-member-name {
  font-size: 1.6rem;
  font-weight: bold;
}
.about-page .team .team-list .team-member .team-member-role {
  font-size: 1.4rem;
}
.about-page .team .team-list .team-member .team-member-contact {
  max-width: 300px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-page .team .team-list .team-member .team-member-contact a,
.about-page .team .team-list .team-member .team-member-contact a:visited {
  color: #0F5080;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .about-page .team .team-list .team-member .team-member-contact a,
  .about-page .team .team-list .team-member .team-member-contact a:visited {
    font-size: 1.8rem;
  }
}
