
.about-intro {
  width: 90%;
  margin: 20px auto;
  .about-headline {
    text-align: center;
    font-size: 2.8rem;
  }
}

.team {
  margin: 20px 0;
  .flex(@direction:column;@align:center);
  .team-list {
    @media @desktop {
      .flex();
    }
    .team-member {
      //border: 1px solid red;
      .flex(@direction:column;@align:center);

      //padding: 10px;
      margin: 10px 0;

      @media @desktop {
        width: 48%;
      }

      .team-member-img-wrapper {
        width: 30%;
      }

      .team-member-name {
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  }
}


