
.team-list {


  .team-member {
    border: 1px solid red;
    .flex(@direction:column;@align:center);

    .team-member-img-wrapper {
      width: 30%;
    }

    .team-member-name {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}

