.home-page {
  .flex(@direction:column;@align:center);
  margin-top: 40px;
  margin-bottom: 150px;
  @media @desktop {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  
  .intro {
    width: 100%;
    max-width: 1430px;
    .flex(@direction:column;@align:center);
    padding: 75px 0;
    background-image: url(/img/bannerdark.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    @media @desktop {
      padding-top: 150px;
      padding-bottom: 250px;
    }

    .intro-wrapper {
      border: 1px solid red;
      width: 100%;
      max-width: 1000px;
      .flex(@direction:column;);

      & * {
        margin: 10px 0;
      }

      .headline, .tagline {
        border: 1px solid magenta;
        // width: 90%;
        // margin: 10px 0;
        color: @lightText;
      }

      .headline {
        @media @desktop {
          font-size: 6.4rem;
        }
      }

      .tagline {
        @media @desktop {
          font-size: 2rem;
        }
      }

      button {
        width: 35%;
        max-width: 200px;
        font-size: 1.5rem;
        color: @primaryColor;
        background: @lightText;

        @media @desktop {
          align-self: flex-start;
          //margin: 20px 5%;
          font-size: 2.5rem;
        }
      }
    }


  }

  .features-list {
    width: 90%;
    .flex(@direction:column;@align:center);
    margin: 20px 0;

    @media @desktop {
      .flex(@justify:space-between);
      margin: 30px 0;
    }

    & * {
      margin: 5px 0;
    }

    .feature {
      .flex(@direction:column;@align:center);
      //margin: 10px 0;
      padding: 20px;
      //border: 1px solid black;
      font-size: 1rem;
      background: @lightText;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
  0 7px 20px 0 rgba(0, 0, 0, 0.17);

      @media @desktop {
        width: 29%;
      }

      & * {
        margin: 5px 0;
      }

      .feature-img-wrapper {
        width: 40%;
        height: 150px;

        .feature-img {
          max-width: 100%;
        }
      }

      button {
        width: 120px;
        margin: 20px 0;
        font-size: 1.25rem;

        a {
          text-decoration: none;
          color: @lightText;
        }
      }

    }
  }  

  .testimonials {
    width: 90%;
    .flex(@direction:column;@align:center);
    @media @desktop {
      .flex(@justify:space-evenly;@align:center);
      margin: 20px 0;
    }
   
    & * {
      margin: 5px 0;
    }

    .img-content-wrapper, .text-content {
      @media @desktop {width: 48%;}
    }

    .img-content-wrapper {
      width: 100%;
      //height: 250px;

      @media @desktop {
        width: 40%;
      }

      img {
        border-radius: 10px;
      }
    }

    blockquote {
      font-size: 5rem;

      &:before, &:after {
          content: '\201C';
          font-family: 'Sanchez';
          color: lighten(@darkText, 20%);
      }
      &:after {
          content: '\201D';
      }
    }

  }

  .inverse-content {
    flex-direction: column-reverse;

    @media @desktop {
      .flex(@justify:space-evenly;@align:center);
    }
  }
}