.home-page {
  .flex(@direction:column;@align:center);

  .intro {
    .flex(@direction:column;@align:center);
    //margin-bottom: 20px;
    padding: 30px 3%;
    color: @lightText;
    background-image: url(/img/main-header.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .headline {
      color: @lightText;
    }
  }

  .features {
    width: 94%;
    .flex(@direction:column;@align:center);
    margin: 30px auto;
    //padding: 30px 3%;

    .features-column {
      margin: 10px auto;
    }

  }

  .testimonials {
    width: 94%;
    .flex(@direction:column;@align:center);
    margin: 20px auto;
  }

  .inverse-content {
    flex-direction: column-reverse;
  }

  .content-pick {
    width: 94%;
    .flex(@direction:column;@align:center);
    margin: 20px auto;

    .destination {
      margin: 10px auto;
    }
  }
}