// Navigation code here
.site-header {
  width: 100%;
  .flex(@direction:column;@justify:center);
  padding: 0 5%;
  color: @headerFontColor;
  background: @headerBgColor;
  //padding-top: 15px;
  top: 0;
  position: fixed;
  z-index: 2;
  //opacity: 0.9;

  @media @desktop {
    .flex(@direction:row;@justify:space-between;@align:center);
  }  

  .logo {
    width: 100%;
    padding: 10px 0;
    .flex(@justify:space-between;@align:center);

    @media @desktop {
      width: auto;
    }

    a {
      //text-align: center;
      text-decoration: none;
      font-size: 2.8rem;
      color: @headerFontColor;
      
      @media @desktop {
        font-size: 4rem;
      }
    }

  }

  .mainNav {
    .flex(@direction:column;@justify:center;@align:center);
    display: none;
    
    @media @desktop {
      .flex(@justify:space-evenly; @align:baseline);
      margin-bottom: 10px;
    }

    a {
      width: 100%;
      margin: 0 2.78vw;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: semi-bold;
      letter-spacing: 0.15rem;
      color: @headerFontColor;
      white-space: nowrap;
      border-bottom: 1px solid @primaryDark;

      @media @desktop {
        width: auto;
        margin: 0 1.39vw;
        border-bottom: initial;
      }

      &:hover {
        @media phone {
          color: @headerBgColor;
          background: @headerFontColor;
        }

        @media @desktop {
          text-decoration: underline;
        }
      }

      &:first-child {
        border-top: 1px solid @primaryDark;
        @media @desktop {
          border: none;
        }
      }

      &:last-child {
        color: @headerFontColor;
        background: @accent;
        border-radius: 3px;
        margin-bottom: 0;

        &:hover {
          @media phone {
            color: @headerBgColor;
            background: @headerFontColor;
          }
        }
      }

    }
  }

  #openMenu {
    font-size: 2.5rem;

    @media @desktop {
      display: none;
    }
  }

  #closeMenu {
    font-size: 2.5rem;
    display: none;
  }
}

nav {
  padding: 10px 0;
  padding-bottom: 0;
  background: @headerBgColor;

  .nav-link {
    margin: 0 2.78vw;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: semi-bold;
    letter-spacing: 0.12rem;
    color: @headerFontColor;
    white-space: nowrap;

    @media @desktop {
      margin: 0 1.39vw;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

/*******DEMO VERSION*****/
.demo {
  max-width: 500px;
  @media @desktop {
    max-width: 800px;
  }
}

.demo2 {
 max-width: 500px;
  background: @primaryBgShading;

  @media @desktop {
    max-width: 800px;
  }

  .logo {
    a {
      color: @emphasis;
    }

  }

  nav {
    background: @primaryBgShading;

    a {
      color: @emphasis;

      &:last-child {
        color: @headerFontColor;
        background: @accent;
        border-radius: 3px;
      }
    }
  }
}



