.hidden {
  display: none;

  & * {
    display: none;
  }
}

.carousel {
  width: 90%;
  max-width: 1000px;
  .flex(@direction:column;@justify:center;@align:center);
  //.flex(@direction:column;@align:center);
  height: 400px;
  position: relative;
  overflow: hidden;
  // margin-top: 16px;
  // @media(min-width: 1200px){
  //   width: 1200px;
  // }
  .left-button, .right-button {
    .flex(@justify:center;@align:center);
    font-size: 3rem;
    font-weight: bold;
    color: @secondaryBgShading;
    background: @lightText;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
  0 7px 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 5;
    cursor: pointer;

    @media @desktop {
      font-size: 4rem;
      width: 50px;
      height: 50px;
    }
    &:hover {
      color: @lightText;
      background-color: @secondaryColor;
    }
  }
  .left-button {
    top: 50%; 
    left: 0;
    transform: translate(0, -50%);
  }
  .right-button {
    top: 50%; 
    right: 0;
    transform: translate(0, -50%);
  }
  // img {
  //   width: 100%;
  //   display: none;
  //   position: absolute;
  //   animation: slideLeft 0.5s forwards;  
  // }

  // .testimony {
  //   //display: none;
  //   position: relative;
  //   animation: slideLeft 0.5s forwards;  
  // }

  // @keyframes slideLeft {
  //   100% { left: 0; }
  // }

  // @keyframes slideRight {
  //   100% { right: 0; }
  // }



}